[project]
	description = Scripts to help with gluster bug management at
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Niels de Vos (nixpanic)
[access "refs/for/refs/*"]
	read = group user/Niels de Vos (nixpanic)
	push = group user/Niels de Vos (nixpanic)
	label-Code-Review = -2..+2 group user/Niels de Vos (nixpanic)
	label-Verified = -1..+1 group user/Niels de Vos (nixpanic)
	rebase = group user/Niels de Vos (nixpanic)
	removeReviewer = group user/Niels de Vos (nixpanic)
	submit = group user/Niels de Vos (nixpanic)
[access "refs/heads/*"]
	read = group user/Niels de Vos (nixpanic)
	create = group user/Niels de Vos (nixpanic)
	push = +force group user/Niels de Vos (nixpanic)
	pushMerge = group user/Niels de Vos (nixpanic)
[access "refs/tags/*"]
	push = +force group user/Niels de Vos (nixpanic)
	pushTag = group user/Niels de Vos (nixpanic)
	pushSignedTag = group user/Niels de Vos (nixpanic)
